In [3]:
import pandas as pd
import numpy as np

In [7]:
import yfinance as yf

In [64]:
# !python3 -m pip install yfinance --upgrade --no-cache-dir

Requirement already satisfied: yfinance in ./venv/lib/python3.9/site-packages (0.1.74)
Requirement already satisfied: requests>=2.26 in ./venv/lib/python3.9/site-packages (from yfinance) (2.28.1)
Requirement already satisfied: pandas>=0.24.0 in ./venv/lib/python3.9/site-packages (from yfinance) (1.4.4)
Requirement already satisfied: multitasking>=0.0.7 in ./venv/lib/python3.9/site-packages (from yfinance) (0.0.11)
Requirement already satisfied: numpy>=1.15 in ./venv/lib/python3.9/site-packages (from yfinance) (1.23.2)
Requirement already satisfied: lxml>=4.5.1 in ./venv/lib/python3.9/site-packages (from yfinance) (4.9.1)
Requirement already satisfied: python-dateutil>=2.8.1 in ./venv/lib/python3.9/site-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in ./venv/lib/python3.9/site-packages (from pandas>=0.24.0->yfinance) (2022.2.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in ./venv/lib/python3.9/site-packages (from requests>=2.26->yfinance) (1.26.12)
Requirement already satisfied: charset-normalizer<3,>=2 in ./venv/lib/python3.9/site-packages (from requests>=2.26->yfinance) (2.1.1)
Requirement already satisfied: idna<4,>=2.5 in ./venv/lib/python3.9/site-packages (from requests>=2.26->yfinance) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in ./venv/lib/python3.9/site-packages (from requests>=2.26->yfinance) (2022.6.15)
Requirement already satisfied: six>=1.5 in ./venv/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas>=0.24.0->yfinance) (1.16.0)
WARNING: You are using pip version 22.0.4; however, version 22.2.2 is available.
You should consider upgrading via the '/Users/AdityaKhairari/Desktop/svm-long-short-strategy/venv/bin/python3 -m pip install --upgrade pip' command.

In [58]:
df = pd.read_csv("financials.csv")
df

,symbol,name,sector,location,year,month,date,CIK,year_started
0,AFL,Aflac,Life & Health Insurance,"Columbus, Georgia",1999.0,5.0,28.0,4977,1955
1,ALL,Allstate,Property & Casualty Insurance,"Northfield Township, Illinois",1995.0,7.0,13.0,899051,1931
2,AXP,American Express,Consumer Finance,"New York City, New York",1976.0,6.0,30.0,4962,1850
3,AIG,American International Group,Property & Casualty Insurance,"New York City, New York",1980.0,3.0,31.0,5272,1919
4,AMP,Ameriprise Financial,Asset Management & Custody Banks,"Minneapolis, Minnesota",2005.0,10.0,3.0,820027,1894
...,...,...,...,...,...,...,...,...,...
61,TFC,Truist,Regional Banks,"Charlotte, North Carolina",1997.0,12.0,4.0,92230,1872
62,USB,U.S. Bank,Diversified Banks,"Minneapolis, Minnesota",NaN,NaN,NaN,36104,1968
63,WFC,Wells Fargo,Diversified Banks,"San Francisco, California",1976.0,6.0,30.0,72971,1852
64,WTW,Willis Towers Watson,Insurance Brokers,"London, United Kingdom",2016.0,1.0,5.0,1140536,2016
65,ZION,Zions Bancorporation,Regional Banks,"Salt Lake City, Utah",2001.0,6.0,22.0,109380,1873

In [59]:
ticker_list = " ".join(list(df.symbol))
ticker_list

'AFL ALL AXP AIG AMP AON AJG AIZ BAC WRB BRK-B BLK BK BRO COF CBOE SCHW CB CINF C CFG CME CMA DFS RE FDS FITB FRC BEN GL GS HIG HBAN ICE IVZ JPM KEY LNC L MTB MKTX MMC MET MCO MS MSCI NDAQ NTRS PNC PFG PGR PRU RJF RF SPGI SBNY STT SIVB SYF TROW TRV TFC USB WFC WTW ZION'

In [60]:
financials = yf.Tickers(ticker_list)

In [34]:
dir(financials)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'download',
 'history',
 'news',
 'symbols',
 'tickers']

In [65]:
data = financials.history(period="2y")
data

[*********************100%***********************]  66 of 66 completed

                Close                                                 \
                  AFL        AIG         AIZ         AJG         ALL
Date
2020-09-02  35.073437  28.221478  119.802811  104.094414   89.825760
2020-09-03  35.111458  27.814663  117.851494  101.835312   88.638710
2020-09-04  35.985916  28.193094  118.498711  100.958931   89.085037
2020-09-08  35.111458  27.332163  116.218956   98.427155   86.653976
2020-09-09  35.206509  27.578146  117.223610  100.520737   87.879013
...               ...        ...         ...         ...         ...
2022-08-29  60.820000  52.799999  161.050003  184.540207  123.239998
2022-08-30  60.130001  52.389999  158.169998  182.376297  122.339996
2022-08-31  59.419998  51.750000  158.490005  181.060013  120.500000
2022-09-01  59.520000  52.340000  160.000000  181.600006  121.389999
2022-09-02  60.310001  53.259998  162.070007  183.324997  123.480003

                                                                      ...  \
                   AMP         AON         AXP        BAC        BEN  ...
Date                                                                  ...
2020-09-02  154.080383  206.417450  101.839165  24.765566  20.052353  ...
2020-09-03  150.810303  200.630325  101.897697  24.593050  19.822077  ...
2020-09-04  151.003220  199.537857  103.078011  25.436459  19.619434  ...
2020-09-08  144.221893  194.872742  101.127068  24.420534  18.937819  ...
2020-09-09  144.791046  200.413818  101.234367  24.449286  18.790442  ...
...                ...         ...         ...        ...        ...  ...
2022-08-29  271.140015  282.899994  154.539993  33.678104  26.110001  ...
2022-08-30  268.420013  282.119995  154.660004  33.866859  26.160000  ...
2022-08-31  268.010010  279.260010  152.000000  33.389999  26.070000  ...
2022-09-01  269.179993  280.779999  151.110001  33.470001  25.930000  ...
2022-09-02  273.625000  282.869995  151.869995  34.101398  26.299999  ...

             Volume                                                         \
                STT      SYF      TFC     TROW      TRV      USB       WFC
Date
2020-09-02  3334900  6939300  6730600   754200  1391400  8346100  40334000
2020-09-03  2656500  7629400  7440600   976500  1299400  9892300  42349300
2020-09-04  3194600  7218000  8359600  1114500  1460700  8406900  48745000
2020-09-08  2112700  5358900  7760300  1268300  1686800  9781700  49082900
2020-09-09  3130400  3077700  5423200   925900   957600  5718900  49427900
...             ...      ...      ...      ...      ...      ...       ...
2022-08-29  1350400  3593200  4850400   988900   819600  3650000  12504900
2022-08-30  1263800  4211900  5315800  1247400   953900  5105500  14365000
2022-08-31  1859600  4714700  8062500  2090000  1514300  6239800  22609100
2022-09-01  1385600  5516600  5484200  1633000  1041300  4920600  13167100
2022-09-02   707575  1305542  1726779   584497   503385  1820694   5433956


                WRB      WTW     ZION
Date
2020-09-02   683700   752700  1567700
2020-09-03  1471050  1006700  2044900
2020-09-04  1027800   645300  1913700
2020-09-08  1291500   863200  2326700
2020-09-09  1096800   681300  1364600
...             ...      ...      ...
2022-08-29   838800   486200  1221200
2022-08-30   691500   432600   941600
2022-08-31  1349400  1108400   871600
2022-09-01   918400   483000   976000
2022-09-02   288310   224222   451575

[505 rows x 462 columns]

In [70]:
print(data.columns)

MultiIndex([( 'Close',  'AFL'),
            ( 'Close',  'AIG'),
            ( 'Close',  'AIZ'),
            ( 'Close',  'AJG'),
            ( 'Close',  'ALL'),
            ( 'Close',  'AMP'),
            ( 'Close',  'AON'),
            ( 'Close',  'AXP'),
            ( 'Close',  'BAC'),
            ( 'Close',  'BEN'),
            ...
            ('Volume',  'STT'),
            ('Volume',  'SYF'),
            ('Volume',  'TFC'),
            ('Volume', 'TROW'),
            ('Volume',  'TRV'),
            ('Volume',  'USB'),
            ('Volume',  'WFC'),
            ('Volume',  'WRB'),
            ('Volume',  'WTW'),
            ('Volume', 'ZION')],
           length=462)

In [66]:
data['Close']['AFL']

Date
2020-09-02    35.073437
2020-09-03    35.111458
2020-09-04    35.985916
2020-09-08    35.111458
2020-09-09    35.206509
                ...
2022-08-29    60.820000
2022-08-30    60.130001
2022-08-31    59.419998
2022-09-01    59.520000
2022-09-02    60.310001
Name: AFL, Length: 505, dtype: float64

In [67]:
def percent_change(arr, n_days):
    change = []
    for i in range(n_days):
        change.append((arr[i]/arr[0]) - 1)
    for i in range(n_days, len(arr)):
        change.append((arr[i]/arr[i-n_days]) - 1)
        
    return change

In [71]:
def moving_average(arr, n_days):
    ma = []
    buff = 0
    for i in range(n_days):
        buff += arr[i]
        ma.append(buff/i)
    for i in range(n_days, len(arr)):
        buff += arr[i]
        buff -= arr[i-n_days]
        ma.append(buff/n_days)
        
    return obv

In [72]:
def price_volume(open_arr, close_arr, volume_arr):
    pv = []
    for i in range(len(volume_arr)):
        pv.append((close_arr[i] - open_arr[i]) * volume_arr[i])
        
    return pv

In [73]:
def obv(price_volume_arr, n_days):
    obv = []
    obv_buff = 0
    
    for i in range(n_days):
        obv_buff += price_volume_arr[i]
        obv.append(obv_buff)
    for i in range(n_days, len(arr)):
        obv_buff += price_volume_arr[i]
        obv_buff -= price_volume_arr[i - n_days]
        obv.append(obv_buff)
        
    return obv

In [55]:
RIL = yf.Ticker("BRK-A")
RIL.history()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-08-02,445734.0,445734.00000,438650.0000,439180.0,2300,0,0
2022-08-03,443964.0,444851.00000,437005.0000,443450.0,2600,0,0
2022-08-04,444294.0,445200.00000,440875.0000,442149.0,2600,0,0
2022-08-05,438635.0,443384.00000,436510.0000,439529.0,2300,0,0
2022-08-08,445259.0,450000.00000,439010.0000,439167.0,3100,0,0
2022-08-09,441378.0,447370.00000,438665.0000,440058.0,2200,0,0
2022-08-10,445300.0,446904.00000,441500.0000,442800.0,2300,0,0
2022-08-11,448839.0,448869.00000,444701.0000,445302.0,2300,0,0
2022-08-12,448193.0,453059.00000,446132.0000,452697.0,2400,0,0
2022-08-15,450929.0,456992.00000,446866.0000,455170.0,3100,0,0
2022-08-16,459224.0,463000.00000,456000.0000,461300.0,2700,0,0
2022-08-17,459959.0,461269.00000,454105.0000,457277.0,2500,0,0
2022-08-18,458178.0,458178.00000,453347.0000,457400.0,2200,0,0
2022-08-19,457004.0,457004.00000,446512.0000,447155.0,2600,0,0
2022-08-22,444239.0,444239.00000,432452.0000,433650.0,3600,0,0
2022-08-23,436408.0,438274.00000,432739.0000,435730.0,2200,0,0
2022-08-24,436625.0,442318.00000,435010.0000,442210.0,2200,0,0
2022-08-25,444694.0,448000.00000,440222.0000,448000.0,2200,0,0
2022-08-26,448973.0,450868.00000,435770.0000,436201.0,2500,0,0
2022-08-29,435064.0,435803.00000,429487.0000,433300.0,3200,0,0
2022-08-30,436039.0,436594.00000,428122.0000,429700.0,2200,0,0
2022-08-31,431745.0,433325.00000,421308.0000,421308.0,2500,0,0
2022-09-01,421000.0,424907.00000,416882.0000,424290.0,2500,0,0
2022-09-02,429439.0,428698.84375,424456.8125,427712.0,1680,0,0